.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px ;
    gap:50px;
    background-color: rgb(255, 255, 255);
    margin:0;
}
.logo img{
    width:60px;
    height:auto;
    border-radius:50%;
}
.logo p{
    color: rgb(0, 0, 0);
    font-weight:bold;
}
